@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    display: none;
  }
  .container2 {
    display: none;
  }
  .resbox4 {
    position: absolute;
    left: 14rem;
  }
  .resContainer2 {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    border: 1px solid lavender;
    border-radius: 45px;
    position: relative;
    left: 18px;
    padding: 9px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .glass {
    font-size: 20px;
    padding: 3px 12px;
  }
  .where {
    font-size: 12px;
    font-weight: 100;
    padding: 3px;
  }
  .where h5 {
    font-size: 12px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.699);
  }
  .divider {
    position: relative;
    top: 88px;
  }

  .icon-box img {
    height: 21px;
    width: 28px;
    margin-bottom: 5px;
    object-fit: cover;
  }
  .icon-box p {
    font-size: 12px;
    color: rgb(128, 128, 128);
    white-space: nowrap;
  }

  .nav-arrows {
    position: absolute;
    top: 28%;
    right: 1px;
    padding: 0 20px;
    transform: translateY(-50%);
    width: 100%;
    overflow: hidden;
  }

  /*  */
  /* images section */

  .image-slider-section-01 {
    position: relative;
    width: 88%;
    height: 363px;
    right: 4px;
    top: 2px;
  }

  .navigation-01 {
    position: absolute;
    bottom: 155px;
    display: flex;
  }
  .prev-btn-01 {
    position: relative;
    left: 0.8rem;
    padding: 8px;
  }

  .next-btn-01 {
    position: relative;
    left: 26.4rem;
    padding: 8px;
  }

  .slide-text-01 {
    position: relative;
    bottom: 33px;
    left: 35px;
  }
  .slide-text-01 h5 {
    font-size: 18px;
  }
  .slide-text-01 p {
    font-size: 15px;
  }
  .slide-text-01 span {
    font-size: 15px;
  }

  .image-slider-section-02 {
    position: relative;
    width: 88%;
    height: 363px;
    left: 0.1px;
    bottom: 3rem;
  }
  .slides-02 {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .navigation-02 {
    position: absolute;
    bottom: 155px;
    display: flex;
  }
  .prev-btn-02 {
    position: relative;
    padding: 8px;
  }

  .next-btn-02 {
    position: relative;
    padding: 8px;
  }

  .slide-text-02 {
    position: relative;
    bottom: 5rem;
    left: 40px;
  }
  .slide-text-02 h5 {
    font-size: 16px;
  }
  .slide-text-02 p {
    font-size: 17px;
  }
  .slide-text-02 span {
    font-size: 15px;
  }

  .image-slider-section-03 {
    position: relative;
    width: 88%;
    height: 363px;
    left: 0.1px;
    bottom: 6rem;
  }
  .slides-03 {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .navigation-03 {
    position: absolute;
    bottom: 155px;
    display: flex;
  }
  .prev-btn-03 {
    position: relative;
    padding: 8px;
  }

  .next-btn-03 {
    position: relative;
    padding: 8px;
  }

  .slide-text-03 {
    position: relative;
    bottom: 129px;
    left: 37px;
  }
  .slide-text-03 h5 {
    font-size: 16px;
  }
  .slide-text-03 p {
    font-size: 15px;
  }
  .slide-text-03 span {
    font-size: 15px;
  }
  .image-slider-section-04 {
    position: relative;
    width: 88%;
    height: 363px;
    left: 0.1px;
    bottom: 8.8rem;
  }
  .slides-04 {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .navigation-04 {
    position: absolute;
    bottom: 155px;
    display: flex;
  }
  .prev-btn-04 {
    position: relative;
    padding: 8px;
  }

  .next-btn-04 {
    position: relative;
    padding: 8px;
  }

  .slide-text-04 {
    position: relative;
    left: 41px;
    bottom: 173px;
  }
  .slide-text-04 h5 {
    font-size: 16px;
  }
  .slide-text-04 p {
    font-size: 15px;
  }
  .slide-text-04 span {
    font-size: 15px;
  }
  .experience {
    position: relative;
    bottom: 152px;
    left: 33px;
  }

  .image-slider-section-05 {
    position: relative;
    width: 88%;
    height: 363px;
    right: 0.1px;
    bottom: 9.5rem;
  }

  .navigation-05 {
    position: absolute;
    bottom: 155px;
    display: flex;
  }
  .prev-btn-05 {
    position: relative;
    left: 0.8rem;
    padding: 8px;
  }

  .next-btn-05 {
    position: relative;
    left: 26.4rem;
    padding: 8px;
  }

  .slide-text-05 {
    position: relative;
    bottom: 183px;
    left: 39px;
  }
  .slide-text-05 h5 {
    font-size: 18px;
  }
  .slide-text-05 p {
    font-size: 15px;
  }
  .slide-text-05 span {
    font-size: 15px;
  }

  .image-slider-section-06 {
    position: relative;
    width: 88%;
    height: 363px;
    left: 0.1px;
    bottom: 12.3rem;
  }

  .navigation-06 {
    position: absolute;
    bottom: 155px;
    display: flex;
  }
  .prev-btn-06 {
    position: relative;
    left: 0.8rem;
    padding: 8px;
  }

  .next-btn-06 {
    position: relative;
    left: 26.3rem;
    padding: 8px;
  }

  .slide-text-06 {
    position: relative;
    bottom: 230px;
    left: 40px;
  }
  .slide-text-06 h5 {
    font-size: 18px;
  }
  .slide-text-06 p {
    font-size: 15px;
  }
  .slide-text-06 span {
    font-size: 15px;
  }

  .image-slider-section-07 {
    position: relative;
    width: 88%;
    height: 363px;
    left: 0.1px;
    bottom: 15rem;
  }

  .navigation-07 {
    position: absolute;
    bottom: 155px;
    display: flex;
  }
  .prev-btn-07 {
    position: relative;
    left: 0.8rem;
    padding: 8px;
  }

  .next-btn-07 {
    padding: 8px;
  }

  .slide-text-07 {
    position: relative;
    bottom: 275px;
    left: 37px;
  }
  .slide-text-07 h5 {
    font-size: 18px;
  }
  .slide-text-07 p {
    font-size: 14px;
  }
  .slide-text-07 span {
    font-size: 16px;
  }

  .image-slider-section-08 {
    position: relative;
    width: 88%;
    height: 363px;
    left: 0.1px;
    bottom: 18rem;
  }
  .navigation-08 {
    position: absolute;
    bottom: 155px;
    display: flex;
  }
  .prev-btn-08 {
    position: relative;
    left: 0.8rem;
    padding: 8px;
  }

  .next-btn-08 {
    padding: 8px;
  }

  .slide-text-08 {
    position: relative;
    bottom: 321px;
    left: 40px;
  }
  .slide-text-08 h5 {
    font-size: 18px;
  }
  .slide-text-08 p {
    font-size: 15px;
  }
  .slide-text-08 span {
    font-size: 15px;
  }

  .image-slider-section-09 {
    position: relative;
    width: 88%;
    height: 363px;
    right: 0.1px;
    top: 64.2rem;
  }

  .navigation-09 {
    position: absolute;
    bottom: 165px;
    display: flex;
  }
  .prev-btn-09 {
    position: relative;
    left: 0.8rem;
    padding: 8px;
  }

  .next-btn-09 {
    position: relative;
    left: 26rem;
    padding: 8px;
  }

  .slide-text-09 {
    position: relative;
    top: 996px;
    left: 39px;
  }
  .slide-text-09 h5 {
    font-size: 15px;
  }
  .slide-text-09 p {
    font-size: 14px;
  }
  .slide-text-09 span {
    font-size: 14px;
  }

  .image-slider-section-10 {
    position: relative;
    width: 88%;
    height: 363px;
    left: 0.1px;
    top: 61.6rem;
  }
  .navigation-10 {
    position: absolute;
    bottom: 155px;
    display: flex;
  }
  .prev-btn-10 {
    position: relative;
    left: 0.8rem;
    padding: 8px;
  }

  .next-btn-10 {
    position: relative;
    left: 26.5rem;
    padding: 8px;
  }

  .slide-text-10 {
    position: relative;
    top: 954px;
    left: 37px;
  }
  .slide-text-10 h5 {
    font-size: 16px;
  }
  .slide-text-10 p {
    font-size: 14px;
  }
  .slide-text-10 span {
    font-size: 14px;
  }

  .image-slider-section-11,
  .image-slider-section-12,
  .image-slider-section-13,
  .image-slider-section-14,
  .image-slider-section-15,
  .image-slider-section-16 {
    display: none;
  }
  .slide-text-11,
  .slide-text-12,
  .slide-text-13,
  .slide-text-14,
  .slide-text-15,
  .slide-text-16 {
    display: none;
  }
  .footer {
    position: relative;
    bottom: 23rem;
  }

  .footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .footer p {
    font-size: 28px;
  }
  .footer li {
    font-size: 15px;
  }
  .divider2 {
    position: relative;
    width: 90%;
    border: 1px solid rgba(71, 70, 70, 0.192);
  }

  .divider3 {
    position: relative;
    width: 90%;
    border: 1px solid rgba(71, 70, 70, 0.192);
  }

  .main-footer {
    position: relative;
    bottom: 23rem;
    padding: 33px;
  }

  .last-left a {
    position: relative;
    font-size: 12px;
    font-weight: 100;
  }
  .last-right {
    display: none;
  }
  .inc a {
    position: relative;
    font-size: 12px;
  }
}
