* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body,
html {
  overflow-x: hidden;
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  padding: 16px;
}
.box1 img {
  width: 145px;
  padding: 11px 16px;
}
.box2 ul {
  display: flex;
  list-style: none;
  padding: 0 88px 0 380px;
}
.box2 ul li {
  padding: 0 22px;
  font-size: 1.1rem;
}
.box3 {
  display: flex;
  padding: 0 24px 0 140px;
}
.box3 h4 {
  font-weight: bold;
  padding: 0 24px;
}
.box4 {
  display: flex;
  border: 1px solid lightslategray;
  border-radius: 50px;
}
.box4 a {
  gap: 22px;
  padding: 14px;
}

/* Search area */
.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 44px;
  width: 70%;
  height: 12vh;
  border: 1px solid lightgray;
  border-radius: 50px;
  position: relative;
  left: 15%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.search-area1 p {
  color: rgb(148, 145, 145);
  position: relative;
  right: 11px;
}
.search-area5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 24px;
  border-radius: 95px;
  padding: 29px;
  background-color: #fc474d;
  position: relative;
  left: 32px;
}

/* Icon section */
.icon-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
  margin: 60px 33px;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.icon-container::before {
  content: "";
  top: 192px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: gainsboro;
}
.icon-box {
  display: flex;
  height: 2px;
  flex-shrink: 0;
  width: 100px;
  margin-left: 10px;
  transition: transform 0.5s ease;
}
.icon-box img {
  height: 28px;
  width: 33px;
}
.icon-box p {
  display: flex;
  white-space: nowrap;
  font-size: 12px;
  position: relative;
  top: 44px;
  left: -32px;
}
.nav-arrows {
  position: absolute;
  top: 43%;
  right: 4px;
  padding: 0 25px;
  transform: translateY(-50%);
  width: 100%;
  overflow: hidden;
}
.left-arrow,
.right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  padding: 7px;
}
.left-arrow {
  float: left;
}
.right-arrow {
  float: right;
}

/* Images sections*/
/*  */
/*  */
/*  */

/* Image Section 1 */

.image-slider-section-01 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  right: 36.5%;
  bottom: 26px;
}

.image-slider-01 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-01 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.active-01 {
  display: block;
  opacity: 1;
}
.slide:not(.active-01) {
  opacity: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-01 {
  position: absolute;
  bottom: 135px;
  display: flex;
}

.prev-btn-01,
.next-btn-01 {
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.prev-btn-01 {
  position: relative;
  left: 0.8rem;
}
.next-btn-01 {
  position: relative;
  left: 15rem;
}
.slide-text-01 {
  position: relative;
  color: black;
  bottom: 57px;
  display: block;
  left: 38px;
}
.slide-text-01 h5 {
  font-size: medium;
}
.slide-text-01 p {
  padding: 2px;
  color: gray;
}
.slide-text-01 span {
  font-size: larger;
  color: gray;
  padding: 2px;
}

/* Image Section 2 */

.image-slider-section-02 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  right: 12.5%;
  bottom: 29.3rem;
}

.image-slider-02 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-02 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-02 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.active-02 {
  display: block;
}

.slide-02 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-02 {
  position: absolute;
  bottom: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.prev-btn-02,
.next-btn-02 {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-text-02 {
  position: relative;
  color: black;
  bottom: 501px;
  display: block;
  left: 361px;
}
.slide-text-02 h5 {
  font-size: medium;
}
.slide-text-02 p {
  padding: 2px;
  color: gray;
}
.slide-text-02 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 3 */

.image-slider-section-03 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  left: 11.5%;
  bottom: 56.9rem;
}

.image-slider-03 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-03 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.active-03 {
  display: block;
}

.slide-03 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-03 {
  position: absolute;
  bottom: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.prev-btn-03,
.next-btn-03 {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
}

.slide-text-03 {
  position: relative;
  color: black;
  bottom: 942px;
  display: block;
  left: 686px;
}
.slide-text-03 h5 {
  font-size: medium;
}
.slide-text-03 p {
  padding: 2px;
  color: gray;
}
.slide-text-03 span {
  font-size: larger;
  color: gray;
  padding: 2px;
}

/* Image Section 4 */
.image-slider-section-04 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  left: 35.5%;
  bottom: 84.5rem;
}

.image-slider-04 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-04 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.active-04 {
  display: block;
}

.slide-04 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-04 {
  position: absolute;
  bottom: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.prev-btn-04,
.next-btn-04 {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
}

.slide-text-04 {
  position: relative;
  color: black;
  bottom: 1384px;
  display: block;
  left: 1008px;
}
.slide-text-04 h5 {
  font-size: medium;
}
.slide-text-04 p {
  padding: 2px;
  color: gray;
}
.slide-text-04 span {
  font-size: larger;
  color: gray;
  padding: 2px;
}

/*  Past experiences portion */

.experience {
  position: relative;
  bottom: 83.5rem;
  left: 39px;
}

/* Image Section 5 */

.image-slider-section-05 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  right: 36.5%;
  bottom: 84.5rem;
}

.image-slider-05 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-05 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide-05 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.active-05 {
  display: block;
  opacity: 1;
}
.slide-05:not(.active-05) {
  opacity: 0;
}

.slide-05 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-05 {
  position: absolute;
  bottom: 135px;
  display: flex;
}

.prev-btn-05,
.next-btn-05 {
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.prev-btn-05 {
  position: relative;
  left: 0.8rem;
}
.next-btn-05 {
  position: relative;
  left: 15rem;
}
.slide-text-05 {
  position: relative;
  color: black;
  bottom: 1377px;
  display: block;
  left: 39px;
}
.slide-text-05 h5 {
  font-size: medium;
}
.slide-text-05 p {
  padding: 2px;
  color: rgb(94, 91, 91);
}
.slide-text-05 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 6 */

.image-slider-section-06 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  right: 12.5%;
  bottom: 112.1rem;
}

.image-slider-06 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-06 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide-06 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.active-06 {
  display: block;
  opacity: 1;
}
.slide-06:not(.active-06) {
  opacity: 0;
}

.slide-06 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-06 {
  position: absolute;
  bottom: 135px;
  display: flex;
}

.prev-btn-06,
.next-btn-06 {
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.prev-btn-06 {
  position: relative;
  left: 0.8rem;
}
.next-btn-06 {
  position: relative;
  left: 15rem;
}
.slide-text-06 {
  position: relative;
  color: black;
  bottom: 1819px;
  display: block;
  left: 363px;
}
.slide-text-06 h5 {
  font-size: medium;
}
.slide-text-06 p {
  padding: 2px;
  color: rgb(109, 104, 104);
}
.slide-text-06 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 7 */

.image-slider-section-07 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  left: 11.5%;
  bottom: 139.9rem;
}

.image-slider-07 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-07 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-07 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.active-07 {
  display: block;
}

.slide-07 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-07 {
  position: absolute;
  bottom: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.prev-btn-07,
.next-btn-07 {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
}

.slide-text-07 {
  position: relative;
  color: black;
  bottom: 2262px;
  display: block;
  left: 686px;
}
.slide-text-07 h5 {
  font-size: medium;
}
.slide-text-07 p {
  padding: 2px;
  color: rgb(100, 97, 97);
}
.slide-text-07 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 8 */
.image-slider-section-08 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  left: 35.5%;
  bottom: 167.5rem;
}

.image-slider-08 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-08 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-08 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.active-08 {
  display: block;
}

.slide-08 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-08 {
  position: absolute;
  bottom: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.prev-btn-08,
.next-btn-08 {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
}

.slide-text-08 {
  position: relative;
  color: black;
  bottom: 2703px;
  display: block;
  left: 1010px;
}
.slide-text-08 h5 {
  font-size: medium;
}
.slide-text-08 p {
  padding: 2px;
  color: gray;
}
.slide-text-08 span {
  font-size: larger;
  color: gray;
  padding: 2px;
}

/* Image Section 9 */

.image-slider-section-09 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  right: 36.5%;
  bottom: 84.5rem;
}

.image-slider-09 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-09 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide-09 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.active-09 {
  display: block;
  opacity: 1;
}
.slide-09:not(.active-09) {
  opacity: 0;
}

.slide-09 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-09 {
  position: absolute;
  bottom: 135px;
  display: flex;
}

.prev-btn-09,
.next-btn-09 {
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.prev-btn-09 {
  position: relative;
  left: 0.8rem;
}
.next-btn-09 {
  position: relative;
  left: 15rem;
}
.slide-text-09 {
  position: relative;
  color: black;
  bottom: 1377px;
  display: block;
  left: 39px;
}
.slide-text-09 h5 {
  font-size: medium;
}
.slide-text-09 p {
  padding: 2px;
  color: rgb(94, 91, 91);
}
.slide-text-09 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 10 */

.image-slider-section-10 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  right: 12.5%;
  bottom: 112.1rem;
}

.image-slider-10 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-10 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.active-10 {
  display: block;
  opacity: 1;
}
.slide-10:not(.active-10) {
  opacity: 0;
}

.slide-10 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-10 {
  position: absolute;
  bottom: 135px;
  display: flex;
}

.prev-btn-10,
.next-btn-10 {
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.prev-btn-10 {
  position: relative;
  left: 0.8rem;
}
.next-btn-10 {
  position: relative;
  left: 15rem;
}
.slide-text-10 {
  position: relative;
  color: black;
  bottom: 1819px;
  display: block;
  left: 363px;
}
.slide-text-10 h5 {
  font-size: medium;
}
.slide-text-10 p {
  padding: 2px;
  color: rgb(109, 104, 104);
}
.slide-text-10 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 7 */

.image-slider-section-11 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  left: 11.5%;
  bottom: 139.9rem;
}

.image-slider-11 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-11 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.active-11 {
  display: block;
}

.slide-11 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-11 {
  position: absolute;
  bottom: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.prev-btn-11,
.next-btn-11 {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
}

.slide-text-11 {
  position: relative;
  color: black;
  bottom: 2262px;
  display: block;
  left: 686px;
}
.slide-text-11 h5 {
  font-size: medium;
}
.slide-text-11 p {
  padding: 2px;
  color: rgb(100, 97, 97);
}
.slide-text-11 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 8 */
.image-slider-section-12 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  left: 35.5%;
  bottom: 167.5rem;
}

.image-slider-12 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-12 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.active-12 {
  display: block;
}

.slide-12 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-12 {
  position: absolute;
  bottom: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.prev-btn-12,
.next-btn-12 {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
}

.slide-text-12 {
  position: relative;
  color: black;
  bottom: 2703px;
  display: block;
  left: 1010px;
}
.slide-text-12 h5 {
  font-size: medium;
}
.slide-text-12 p {
  padding: 2px;
  color: gray;
}
.slide-text-12 span {
  font-size: larger;
  color: gray;
  padding: 2px;
}
.main-9-12 {
  position: relative;
  bottom: 85rem;
}

/* Image Section 13 */
/*  */
/*  */

.image-slider-section-13 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  right: 36.5%;
  bottom: 84.5rem;
}

.image-slider-13 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-13 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide-13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.active-13 {
  display: block;
  opacity: 1;
}
.slide-13:not(.active-13) {
  opacity: 0;
}

.slide-13 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-13 {
  position: absolute;
  bottom: 135px;
  display: flex;
}

.prev-btn-13,
.next-btn-13 {
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.prev-btn-13 {
  position: relative;
  left: 0.8rem;
}
.next-btn-13 {
  position: relative;
  left: 15rem;
}
.slide-text-13 {
  position: relative;
  color: black;
  bottom: 1377px;
  display: block;
  left: 39px;
}
.slide-text-13 h5 {
  font-size: medium;
}
.slide-text-13 p {
  padding: 2px;
  color: rgb(94, 91, 91);
}
.slide-text-13 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 14 */

.image-slider-section-14 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  right: 12.5%;
  bottom: 112.1rem;
}

.image-slider-14 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-14 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide-14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.active-14 {
  display: block;
  opacity: 1;
}
.slide-14:not(.active-14) {
  opacity: 0;
}

.slide-14 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-14 {
  position: absolute;
  bottom: 135px;
  display: flex;
}

.prev-btn-14,
.next-btn-14 {
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.prev-btn-14 {
  position: relative;
  left: 0.8rem;
}
.next-btn-14 {
  position: relative;
  left: 15rem;
}
.slide-text-14 {
  position: relative;
  color: black;
  bottom: 1819px;
  display: block;
  left: 363px;
}
.slide-text-14 h5 {
  font-size: medium;
}
.slide-text-14 p {
  padding: 2px;
  color: rgb(109, 104, 104);
}
.slide-text-14 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 15 */

.image-slider-section-15 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  left: 11.5%;
  bottom: 139.9rem;
}

.image-slider-15 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-15 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.active-15 {
  display: block;
}

.slide-15 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-15 {
  position: absolute;
  bottom: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.prev-btn-15,
.next-btn-15 {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
}

.slide-text-15 {
  position: relative;
  color: black;
  bottom: 2262px;
  display: block;
  left: 686px;
}
.slide-text-15 h5 {
  font-size: medium;
}
.slide-text-15 p {
  padding: 2px;
  color: rgb(100, 97, 97);
}
.slide-text-15 span {
  font-size: larger;
  color: black;
  padding: 2px;
}

/* Image Section 16 */
.image-slider-section-16 {
  position: relative;
  width: 22%;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 13px;
  left: 35.5%;
  bottom: 167.5rem;
}

.image-slider-16 {
  position: relative;
  width: 100%;
  height: 100%;
}

.slides-16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-16 {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.active-16 {
  display: block;
}

.slide-16 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-16 {
  position: absolute;
  bottom: 135px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.prev-btn-16,
.next-btn-16 {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 50%;
}

.slide-text-16 {
  position: relative;
  color: black;
  bottom: 2703px;
  display: block;
  left: 1010px;
}
.slide-text-16 h5 {
  font-size: medium;
}
.slide-text-16 p {
  padding: 2px;
  color: gray;
}
.slide-text-16 span {
  font-size: larger;
  color: gray;
  padding: 2px;
}
.main-13-16 {
  position: relative;
  bottom: 170rem;
}

/* Footer  */

.footer {
  position: relative;
  max-width: 100%;
  bottom: 336rem;
  padding: 45px 0 44px 44px;
  border-top: 1px solid lightgray;
  background-color: rgba(211, 211, 211, 0.329);
}
.footer,
.footer a {
  color: rgba(82, 82, 82, 0.959);
  text-decoration: none;
}
.footer-cols p {
  margin-bottom: 0.8rem;
  color: black;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.footer li {
  line-height: 2;
  list-style: none;
}
.main-footer {
  position: relative;
  bottom: 336rem;
  border: 1px solid lightgray;
  padding: 26px;
  color: black;
  background-color: rgba(211, 211, 211, 0.192);
  display: flex;
  justify-content: space-between;
}
.last-left a {
  color: rgba(0, 0, 0, 0.705);
  text-decoration: none;
  list-style: 3px decimal lightgray;
}
.last-right {
  position: relative;
  right: 52px;
}

.last-right span a {
  font-size: 1rem;
  color: black;
}
.last-right a {
  font-size: 1.3rem;
  color: black;
}
